* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    padding: 20px 20px;
    font-size: 25px;
    line-height: 1.2em;
}

.fancy-heading {
    margin: 10px 10px;
    padding: 20px 20px;
    color: rgba(111, 103, 205, 0.8);
}

.content {
    position: relative;
}

.reasonable-question {
    margin: 10px 10px;
    padding: 10px 10px;
    color: rgb(110, 2, 2);
}

.div-ghost {
    margin-left: 300px;
    padding: 30px 20px;
    color: rgb(26, 144, 229);
}

#i-am-ghost {
    visibility: hidden;
}